* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  /* colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "dmSansVariable";
  src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "dmSansItalic";
  src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\wght.ttf);
}

body {
  display: grid;
  place-content: center;
  font-size: 18px;
  background-color: var(--white);
  /* min-height: 100vh; */
  font-family: "dmSansVariable";
}

html {
  height: 100vh;
}

article p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 32px;
}

.bg-yellow-500 {
  background: var(--yellow-500);
}

.bg-yellow-100 {
  background: var(--yellow-100);
}

.bg-purple-500 {
  background: var(--purple-500);
}

.bg-purple-100 {
  background: var(--purple-100);
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-purple {
  color: var(--purple-500);
}

.text-yellow {
  color: var(--yellow-500);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-column-space-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.padding-around{
  padding: 1.5rem;
}

.font-size-40{
  font-size: 2rem;
}

.font-size-4rem{
  font-size: 4.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 65px;
  width: 90%;
}

.big-card {
  padding: 3rem;
}

.italicized{
  font-style: italic;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.grid-container {
  background-color: red;
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "create"
    "social"
    "schedule"
    "manage"
    "maintain"
    "write"
    "audience"
    "growth";
  padding-block: 2rem;  
  margin-inline: auto;
}

article:nth-child(1) {
  grid-area: create;
}
article:nth-child(2) {
  grid-area: social;
}
article:nth-child(3) {
  grid-area: schedule;
}

article:nth-child(4) {
  grid-area: write;
}

article:nth-child(5) {
  grid-area: manage;
}

article:nth-child(6) {
  grid-area: maintain;
}

article:nth-child(7) {
  grid-area: audience;
}

article:nth-child(8) {
  grid-area: growth;
}

@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-areas:
    /* "create social social schedule"
    "write manage audience schedule"
    "write maintain growth growth" */
    "create social social schedule"
    "create social social schedule"
    "write manage audience schedule"
    "write maintain growth growth"
    ;
    width: 90%;
  }

  /* .grid-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}
